streamlit
transformers
torch
torchaudio
librosa
qdrant-client
sentence-transformers
umap-learn
hdbscan
plotly
requests
python-dotenv
pandas
numpy
scikit-learn
matplotlib
datasets
torchvision
torchcodec
huggingface_hub